body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}